/4대, 5대 범죄 발생 검거 현황.csv
/5대 범죄 발생 검거 현황-서울시.csv
/5대 범죄 발생 검거 현황.csv
/5대 범죄 발생량 - 서울시.png
/5대 범죄 발생량.png
/CCTV 구별 개수, 면적, 면적당 개수.csv
/cctv 합계.xlsx
/map.html
/mapamp.html
/sample.csv
/skorea_municipalities_geo_simple.json
/TL_SCCO_CTPRVN.json
/Visualization.ipynb
/강간 및 강간추행_가해자 성별.csv
/강간 및 강간추행_피해자 성별.csv
/강간 및 강제추행 가해자 (2019년).png
/강간 및 강제추행 발생 시간 (2019년) - 6시부터.png
/강간 및 강제추행 발생 시간 (2019년).png
/강간 및 강제추행 범죄자와 피해자와의 관계 (2019년).png
/강간 및 강제추행 서울시 범죄발생 장소 (2019년).png
/강간 및 강제추행 전국 범죄발생 장소 (2019년).png
/강간 및 강제추행 전국 범죄발생 장소_분리 (2019년).png
/강간 및 강제추행 피해자 (2019년).png
/강간 및 강제추행_범죄발생 시간_수정 - 복사본.csv
/강간 및 강제추행_범죄발생 시간_수정.csv
/강간 및 강제추행_범죄자와 피해자와의 관계 수정 - 복사본.csv
/강간 및 강제추행_범죄자와 피해자와의 관계 수정 - 복사본복사본.csv
/강간 및 강제추행_범죄자와 피해자와의 관계 수정.csv
/강간 및 강제추행_범죄자와 피해자와의 관계.csv
/강간 및 강제추행_서울시 5대범죄 발생장소 - 복사본.csv
/강간 및 강제추행_서울시 5대범죄 발생장소.csv
/강간 및 강제추행_전국 5대범죄 발생장소 - 복사본.csv
/강간 및 강제추행_전국 5대범죄 발생장소_분리.csv
/구별 강간 및 강제추행 발생량 - 순서대로.png
/구별 강간 및 강제추행 발생량.png
/구별 강간및강제추행 발생량 - 히트맵.png
/구별 강도 발생량- 히트맵.png
/구별 강도 발생량.png
/구별 살인 발생량 - 히트맵.png
/구별 살인 발생량.png
/구별 절도 발생량 - 히트맵.png
/구별 절도 발생량.png
/구별 폭력 발생량 - 히트맵.png
/구별 폭력 발생량.png
/범죄별 성별 피해자.csv
/범죄자와 피해자와의 관계_수정.csv
/서울시 5대 범죄 발생량.png
/서울시 5대 범죄(살인 강도 강간및강제추행) 발생량.png
/서울시 5대 범죄(절도 폭력) 발생량.png
/서울시 안심귀가스카우트 예산.csv
/서울시 안심귀가스카우트 예산.png
/서울시 연도별 강간및강제추행 발생량.csv
/서울시 연도별 강간및강제추행 발생량_수수정.csv
/서울시 연도별 강간및강제추행 발생량_수정.csv
/서울시 연도별 강도 발생량.csv
/서울시 연도별 강도 발생량_수정.csv
/서울시 연도별 살인 발생량.csv
/서울시 연도별 살인 발생량_수정.csv
/서울시 연도별 살인 발생량_수정.txt
/서울시 연도별 절도 발생량.csv
/서울시 연도별 절도 발생량_수정.csv
/서울시 연도별 폭력 발생량.csv
/서울시 연도별 폭력 발생량_수정.csv
/서울특별시 (안심이) CCTV 설치 현황.csv
/여성 만 명당 범죄 발생 건수.csv
/여성 만 명당 범죄 발생 건수.xlsx
/연도별 강간 및 강간추행.csv
/연도별 강간·강제추행 발생량 - 히트맵.png
/연도별 강도 발생량 - 히트맵.png
/연도별 살인 발생량 - 히트맵.png
/연도별 절도 발생량 - 히트맵.png
/연도별 폭력 발생량 - 히트맵.png
/인구 천명당 강간및강제추행 발생건수.csv
/전국 5대 범죄 발생량.png
/전국 5대 범죄(살인 강도 강간및강제추행) 발생량.png
/전국 5대 범죄(절도 폭력) 발생량.png